body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.big-field__row {
  display: flex;
}

.big-field__cell {
  border: 1px solid black;
}

.small-field__row {
  display: flex;
}

.small-field__cell {
  border: 1px solid gray;
  width: 3rem;
  height: 3rem;

  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.small-field__cell:hover {
  background-color: rgb(181, 203, 218);
}